<form id="control">
	<fieldset>
		<legend>LED Control</legend>
		<div>
			<ul class="horizontal">
				<li><input id="led0" type="radio" name="led" value="0"/> <label for="led0">OFF</label></li>
				<li><input id="led1" type="radio" name="led" value="1"/> <label for="led1">GREEN</label></li>
				<li><input id="led2" type="radio" name="led" value="2"/> <label for="led2">RED</label></li>
				<li><input id="led3" type="radio" name="led" value="3"/> <label for="led3">YELLOW</label></li>
				<li><input id="led5" type="radio" name="led" value="5"/> <label for="led5">BLINK GREEN</label></li>
				<li><input id="led6" type="radio" name="led" value="6"/> <label for="led6">BLINK RED YELLOW</label></li>
			</ul>
		</div>
	</fieldset>
	<fieldset>
		<legend>Tilt Angle Control</legend>
		<div>
			<input type="text" class="number" id="tiltAngleInput" maxlength="5" value="0" size="6"/>
			<button id="tiltAngleButton">Change</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>Stop Connection</legend>
		<div>
			<button id="stopButton">Stop</button>
		</div>
	</fieldset>
</form>