<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Simple Viewer - node-freenect</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script data-main="/javascripts/main" src="/javascripts/require.js"></script>
  </head>
  <body>
    <header>
      <h1>Simple Viewer</h1>
    </header>
    <section id="contents">
    <%- body %>
    </section>
    <footer>
      <p>&copy;2011 hakobera</p>
    </footer>
  </body>
</html>